@import "tailwindcss";

@theme inline {
  --font-display: "Inter", "sans-serif" ;
  --color-primary-500: oklch(0.84 0.18 117.33);
  --spacing: 0.25rem;
  --clashDisplay: "ClashDisplay","sans-serif";
  --panchang: "Panchang","sans-serif";
}

@layer base {
  body {
    @apply font-main;
  }
}

@utility font-main {
  font-family:var(--clashDisplay);
}